body {
  margin: 0 auto;
  background: rgb(237, 152, 68);
  background:url("https://cdn.morguefile.com/imageData/public/files/j/joncutrer/01/l/14225696221qgb4.jpg");
  background-position: center center;
  background-attachment:fixed;
}
.block{
  background-color: rgb(64, 65, 65);
  width: 300px;
  height: 520px;
  position: absolute;
  margin:auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
background: #b5bdc8; /* Old browsers */
background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
  color: white;
  border-radius: 5px;
  font-family:'Russo one',serif;
}
#title{
  font-size: 1.5em;
  margin-top:-10px;

  color: rgb(56, 51, 46)
}
#display{
  font-family:'Orbitron';
  background-color:black;
  width:100%;
background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height: 100px;
  border: 2px solid rgb(94, 86, 79);
  border-radius: 5px;
  padding: 10px;
  overflow:hidden;
}
#output{
  font-size: 2em;
  text-align:right;
}
#current{
  text-align:right;
}
.buttons{
  margin-top: 10px;
  margin-left:-10px;
}
.numbers{
  font-family:'Orbitron';
background: rgb(252,255,244); /* Old browsers */
background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
color:black;
 
  width: 50px;
  height:50px;
  text-align:center;
  margin-left: 13px;
  margin-bottom:20px;
  font-weight:900;
  box-shadow: 2px 2px 5px black;
  
}
#letters{
  margin-left:-3px;
}
.letters{
 background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,48,25,1) 9%, rgba(207,4,4,1) 80%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,48,25,1) 9%,rgba(207,4,4,1) 80%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,48,25,1) 9%,rgba(207,4,4,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}
input[type="button"]{
   outline:none;
}
input[type="button"]::-moz-focus-inner {
   border: 0;
}
.equal{
  height: 120px !important;
  float:right;
  margin-right:3px;
}
.zero{
  width:120px;
}